<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ToDoAppRegressionSuite" verbose="10" parallel="false">
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
    <test name="Regression">
        <classes>
            <class name="com.todo.automation.regression.ToDoRegressionSuite" />
        </classes>
    </test>
</suite>